* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  padding: 20px 0;
}
nav {
  border: 1px solid #333;
  padding: 15px 0;
  text-align: center;
}
li {
  display: inline-block;
  margin: 0 20px;
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}
main div {
  width: 200px;
  height: 200px;
}
.box1 {
  background-color: #e6ffe9;
}
.box2 {
  background-color: #cbffd3;
}
.box3 {
  background-color: #aeffbd;
}
.box4 {
  background-color: #93ffab;
}
.box5 {
  background-color: #f3ffd8;
}
.box6 {
  background-color: #edffbe;
}
.box7 {
  background-color: #e9ffa5;
}
.box8 {
  background-color: #e4ff8d;
}
.box9 {
  background-color: #d9e5ff;
}
.box10 {
  background-color: #bad3ff;
}
.box11 {
  background-color: #a4c6ff;
}
.box12 {
  background-color: #8eb8ff;
}
footer {
  height: 120px;
  background-color: #6c6b6b;
  color: #fff;
  text-align: center;
  line-height: 120px;
}
